html {
  scroll-behavior: smooth;
}
body{
	padding: 10px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #141414;
}

/*Layout style*/
.left{	
	display:flex;
	flex-direction: column;
	float:left;	
	width:280px;
	height: 100%;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
 	overflow-x: hidden;
	padding: 20px;
 }
.right{ 
	display: block;
	float:left;
	margin-left: 300px;
   	padding-left: 20px;
}

/*Profile*/
.description{
	padding-left:10px;
}
.center{
	text-align:JUSTIFY;
}
.links {
	position: absolute;
	bottom: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	 
}
.links > a{
	color:#027AB6; 
	padding-bottom: 20px;
}

a{
	text-decoration: none;	
	color:#C5C5C5;
	font-family: Raleway;
} 

a:hover{
	color:darkblue;
}

/*Case Studies*/
.grid-container{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 20px;
}
.grid-item{
	height: 400px;
	padding:20px;
	
}
.box1{
	background-color:lightcoral;
}
.box2{
	background-color: lightblue;
}
.box3{
	background-color: lightgreen;
}
.box4{
	background-color: lightgoldenrodyellow;
}

.sec-break{
	height:50px;
}

.footer{
	padding:30px;
}
/*
@media screen and (max-width: 800px) {
  .left, .right {   
    width: 100%;
    padding: 0;
  }
*/

